*.pdf
Video_MME/
*.pptx

data/
results/

scripts/check_mvbench_missing_videos.py
scripts/extract_frame_indices.py

scripts/run_all_models_mvbench.sh
scripts/run_ovis_mvbench.sh
scripts/run_qwen2_5_mvbench.sh
scripts/run_smolvlm_mvbench.sh
scripts/run_intern_mvbench.sh

scripts_test/
.pdm-python

.vscode/
*.pyc
__pycache__/

src/models/apollo/stage3-siglip-perceiver-256/
results/
results_cp_1/
results_backup/
scripts/runs/

